<?xml version='1.0' encoding='utf-8'?>
<widget id="org.victormaloyama.trablhoquartosemestre" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Avocatto</name>
    <description>
        App para trabalho do interdisciplinar 4° semestre
    </description>
    <author email="victor.maloyama@gmail.com" href="http://cordova.io">
        Victor Maloyama
    </author>
    <preference name="Orientation" value="portrait" />
    <preference name="FullScreen" value="false" />
    <allow-intent href="*" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#d6d6d6" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="*" />
    <plugin name="cordova-plugin-whitelist" spec="*" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
